body{
	padding:0;
	margin:0;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size:17px;
	line-height:18px;
	color:#ffffff;
}

a{
	text-decoration:none;
	color:#ffffff;
}

ul{
	list-style:none;
}

.site-header{
	font-size:17px;
	line-height:18px;
	color:#ffffff;
	background-color:#293449;
}
.container{
	display:flex;
	width:940px;
	margin:0 auto;
	padding:0 10px;
}
.site-header .container{
	justify-content:space-between;
}

.site-header .marks:hover,
.site-header .marks:focus,
.site-header .basket:hover,
.site-header .basket:focus{
	background-color:#212a3a;
}

.site-header .marks:active,
.site-header .basket:active{
	color:#575c65;
	background-color:#161d29;
}

.site-header .order{
	background-color:#63a63e;
}
.site-header .order:hover,
.site-header .order:focus{
	background-color:#5fbb2d;
}
.site-header .order:active{
	color:#a8c29a;
	background-color:#518534;
}
.site-header-logo,
.main-footer-logo{
	background-color:#ee3643;
}
.site-header-logo:hover,
.site-header-logo:focus{
	background-color:#ca2c37;
}
.site-header-logo:active{
	background-color:#ba2732;
}
.search:active{
	background-color:#ffffff;
}


.main-header{
	width:100%;
	padding:45px 0;
	margin-bottom:60px;
	background-color:#f3f7f9;
}
.main-header .container{
	flex-wrap:wrap;
	justify-content:space-around;

}
.main-header h1{
	width:200px;
	

	font-size:16px;
	line-height:23px;
	color:#ee3643;
	font-weight:400;
	font-style:italic;
}
.main-header-contacts{
	display:flex;
	flex-direction:column;

	font-size:14px;
	line-height:24px;
	color:#32425c;

	width:270px;
}
.main-header .number{
	font-size:21px;
	line-height:21px;
	color:#ee3643;
	border:2px solid #ffffff;

	width:270px;
}
.main-header p{
	padding:0 10px;
}


.login{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	width:280px;
}
.login a{
	font-size:21px;
	line-height:21px;
	color:#000000;
	background-color:#ffffff
}
.login a:hover,
.login a:focus{
	color:#ee3643;
}
.login a:active{
	color:#b2b2b2;
}

.main-menu ul{
	display:flex;
	justify-content:space-around;
	width:940px;
	padding:10px 0;
	
	margin:0;
	background-color:#32425c;
}
.main-menu a{
	font-size:17px;
	line-height:17px;
}
.main-menu a:hover,
.main-menu a:focus{
	background-color:#293449;
}
.main-menu a:active{
	color:#8e939c;
	background-color:#1d2739;
}

.about-us{
	display:flex;
	justify-content: space-between;
	margin-bottom:85px;
}

.about-us h2{
	font-size:30px;
	line-height:30px;
	color:#000000;
}
.about-us p{
	font-size:13px;
	line-height:24px;
	color:#000000;
	}
.about-us ul{
	font-size:18px;
	line-height:20px;
	color:#000000;
}
.about-us .button {
	font-size:14px;
	line-height:18px;
	color:#ffffff;
	text-transform:uppercase;

	background-color:#ee3643;
}

.about-us .company{
	width:540px;
}

.about-us .contacts{
	width:300px;
	margin-left:100px;
}

.map_popup,
.modal-form{
	display:none;
}

.main-footer{
	background-color:#32425c;
}
.main-footer {
	font-size:18px;
	line-height:24px;
	color:#f3f7f9;
}
.main-footer a:hover,
.main-footer a:focus{
	text-decoration:underline;
}

.main-footer ul{
	display:flex;
	justify-content:space-between;
	margin:0;
	margin-left:auto;
}

.main-footer-logo{
	width:220px;
}

.main-footer-menu{
	font-size:18px;
	line-height:24px;
	color:#f1f5f7;

	width:550px;
}
.main-footer-menu a:active{
	color:#929caa;
	text-decoration:none;
}

.main-footer-contacts{
	width:330px;
}
.offers{
	width:540px;
}

.offers a{
	font-size:18px;
	line-height:24px;
	color:#ffd180;
}
.offers a:active{
	color:#998a6e;
	text-decoration:none;
}

.site-footer{
	background-color:#293449;
}
.site-footer .container{
	justify-content:space-between;
}
.site-footer p{
	font-size:16px;
	line-height:18px;
	width:230px;
}
.site-footer ul{
	display:flex;
	width:130px;
	justify-content:space-between;
}
.site-footer a{
	background-color:#212a3a;
}
.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active{
	background-color:#ee3643;
}

.site-footer .connect{
	width:140px;
}
.site-footer .footer-copyright{
	width:100px;
}


.connect a,
.footer-copyright a{
	color:#ffd180;
	background-color:#293449;
}

.connect a:hover,
.connect a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus{
	text-decoration:underline;
	background-color:#293449;
}
.connect a:active,
.footer-copyright a:active{
	color:#c73644;
	text-decoration:none;
}


.inner-page{
	color:#000000;
}

.inner-page .login{
	width:300px;
	flex-wrap:wrap;
}

.login .username:hover,
.login .username:focus{
	color:#000000;
}
.login .username:active{
	color:#b2b2b2;
}
.login .personal{
	background-color:#f2f6f8;
}
.personal a{
	font-size:16px;
	font-style:18px;
	color:#32425c;
}

.inner-page .main-header{
	margin-bottom:20px;
}

.container.headline{
	flex-direction:column;
}

.breadcrumbs{
	display:flex;
	justify-content:space-between;
	width:360px;
	margin:0;
	margin-bottom:20px;
	padding:0;
}

.breadcrumbs a{
	font-size:13px;
	line-height:18px;
	font-family:'PT Sans', Arial, sans-serif;
	text-transform:uppercase;
	color:#000000;
}

.container h2{
	font-size:30px;
	line-height:30px;
	color:#32425c;
	background-color:#f2f6f8;
	margin:0;
	margin-bottom:20px;
	width:940px;
}

.filter{
	width:220px;
}

.filter ul{
	margin:0;
}

.filter legend{
	font-size:17px;
	line-height:30px;
	font-weight:bold;
	font-family:'PT Sans', Arial, sans-serif;

	text-transform:uppercase;
}
.filter label{
	font-size:15px;
	line-height:20px;
	font-family:'PT Sans', Arial, sans-serif;

	text-transform:uppercase;
}
.filter button{
	font-size:13px;
	line-height:18px;
	font-family:'PT Sans', Arial, sans-serif;
	text-transform:uppercase;

	background-color:#ffffff;
	border:1px solid #e5e5e5;
}

.catalog{
	width:700px;
	margin-left:auto;
	margin-bottom:35px;
}

.catalog-list{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
    align-items:center;
	margin:0;
	padding:0;
}

.catalog h2{
	font-size:30px;
	line-height:30px;
	color:#32425c;
	text-transform:uppercase;
}

.catalog-item{
	border:1px solid #e5e5e5;
	text-align:center;
	width:218px;
	margin-bottom:20px;
	min-height:315px;
}
.catalog-category,
.catalog-item-title{
	font-family:'PT Sans', Arial, sans-serif;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	color:#000000;
}
.deleted{
	font-family:'PT Sans', Arial, sans-serif;
	font-size:17px;
	line-height:18px;
	font-weight:bold;

	text-decoration:line-through;
	color:#999999;
}

.catalog-item .button{
	font-family:'PT Sans', Arial, sans-serif;
	font-size:17px;
	line-height:18px;
	font-weight:bold;

	background-color:#ee3643;
}

.buy {
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	color:#ffffff;

	background-color:#63a63e;
}
.buy:hover,
.buy:focus{
	background-color:#5fbb2d;
}
.buy:active{
	background-color:#518534;
}

.catalog-item .marks{
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	color:#32425c;

	border:3px solid #63a63e;
}
.catalog-item .marks:hover,
.catalog-item .marks:focus{
	border:3px solid #32425c;
}
.catalog-item .marks:active{
	color:#c1c6ce;
	border:3px solid #c1c6ce;
}

.inner-page .site-footer{
	color:#ffffff;
}

.popup-basket{
	display:none;
}